.recipe-details {
  text-align: center;
  margin-top: 20px;
}
.recipe-container {
  margin-bottom: 100px;
}

.recipe-title {
  color: #28a745;
  font-size: 24px;
  font-weight: bold;
}

.recipe-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.recipe-summary {
  color: #11703d;
  margin-top: 20px;
}
